@media (max-width: 1120px) {
  .hero_area {
    height: auto;
  }

  .hero-content{
    width: 100%;
    height: 100%;
  }

  .hero-box1{
    width: 80%;
    margin: 0 auto;
  }

  .hero-box1 h1{
    font-size: 1.5rem;
    margin: 0;
  }

  .hero-box1 p{
    margin-top: 0;
    margin-bottom: 20px;
  }

  .hero-box2 img{
    width: 100%;
    margin: 0 auto;
  }

  .about_section{
    width: 90%;
    margin: 100px auto 0;
  }

  .slider_section {
    padding: 50px 0;
  }

  .custom_heading{
    margin: 0;
  }

  .quote_btn-container {
    display: none;
  }

  .quote_btn-container a {
    display: none;
  }
}

@media (max-width: 992px) {
  .custom_nav-container .nav_search-btn {
    background-position: center;
  }

  .map_section .form_container form {
    width: 450px;
  }
}

@media (max-width: 768px) {


  .slider_detail-box {
    text-align: center;
  }
  
  .hero-box1{
    grid-area: 1 / 1 / 2 / 3;
  }

  .hero-box1 h1{
    font-size: 2rem;
  }

  .hero-box2{
    display: none;
  }

  .info_section .col-md-3 {
    text-align: center;
  }

  .info_section .col-md-3:not(:nth-last-child(1)) {
    margin-bottom: 35px;
  }

  .tasty_section h2 {
    font-size: 80px;
  }

  .contact_section {
    background-size: cover;
  }

  .info_items {
    flex-direction: column;
    align-items: center;
  }

  .info_items .item {
    margin: 20px 0;
  }

  .info_items::before {
    display: none;
  }

  .custom_heading{
    margin: 0;
  }

  .col-md-6.offset-md-2 {
    margin: 40px 0;
    text-align: center;
    display: flex;
    align-items: center;
  }
}

@media (max-width: 576px) {
  .hero-box1 {
    width: 95%;
  }

  .hero-box1 h1{
    font-size: 1.5rem;
  }


  .custom_heading{
    font-size: 1.5rem;
    font-weight: 600;
    gap: 5px;
    width: 100%;
    text-align: center;
  }
  .buy__img{
    width: 100%;
    height: 150px;
  }

  .editorial {
    height: 35px;
  }

  .about_section{
    width: 90%;
  }
  
  .about_section .img-box img{
    width: 100%;
  }

  .about_section .detail-box{
    width: 100%;
  }

  
  .client_section .client_container {
    flex-direction: column;
    align-items: center;
  }

  .client_section .pl-100 {
    padding-left: 0;
  }

  .client_section .client_container .img_box {
    margin: -150px auto 25px auto;
  }

  .client_section .client_container {
    margin-top: 100px;
  }

  .gallery-section .container {
    flex-direction: column;
  }

  .gallery-section .img_box {
    width: 100% !important;
  }

  .map_section .form_container {
    width: 100%;
  }

  .map_section .form_container form {
    width: 100%;
  }

  .map_section #map {
    position: relative;
    height: 450px !important;
  }
}

@media (max-width: 480px) {

}

@media (max-width: 420px) {
}

@media (max-width: 375px) {
  .btn-box {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .hero-box1 img{
    width: 100px;
  }

  .hero-box1 .btn-box .btn-1 {
    margin-bottom: 10px;
    margin-right: 0;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1170px;
  }
}
