.services-cards-container{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    align-items: center;
    justify-content: flex-start;
    gap: 50px;
}

.service-card{
    display: grid;
    grid-template-columns: repeat(2, 30% 70%);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.service-card-img{
    position: relative;
}

.service-card img {
    width: 75%;
    height: 275px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    grid-area: 1 / 1 / 4 / 2;
    padding: 5px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background: #21d7ff;
}

.service-card-img span{
    width: 100%;
    height: 100px;
    background: linear-gradient(to top, white, transparent);
    position: absolute;
    bottom: 0;
}

.service-card h2 { 
    grid-area: 1 / 2 / 2 / 3;
    width: 100%;
    text-align: left;
    display: flex;
    align-items: end;
    justify-content: start;
    font-weight: bold;
}

.service-card p { 
    grid-area: 2 / 2 / 4 / 3;
    width: 100%;
    text-align: left; 
}

@media (max-width: 576px) {

.service-card{
    display: grid;
    row-gap: 25px;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, auto);
    grid-column-gap: 0px;
    grid-row-gap: 25px;
    margin: 50px 0 0 0;
}

.service-card img {
    width: 90%;
    height: 250px;
    grid-area: 1 / 1 / 2 / 2;
}

.service-card-img span{
    display: none;
}

.service-card h2 { 
    grid-area: 2 / 1 / 3 / 2;
    font-size: 1.2rem;
}

.service-card p { 
    grid-area: 3 / 1 / 4 / 2;
}

}

@media (min-width: 767px) {

    .service-card{
        display: grid;
        row-gap: 25px;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, auto);
        grid-column-gap: 0px;
        grid-row-gap: 25px;
        margin: 50px 0 0 0;
    }
    
    .service-card img {
        width: 100%;
        height: 250px;
        grid-area: 1 / 1 / 2 / 2;
        border-radius: 15px;
        -webkit-border-radius: 15px;
        -moz-border-radius: 15px;
        -ms-border-radius: 15px;
        -o-border-radius: 15px;
        background: none;
}
    
    .service-card h2 { 
        grid-area: 2 / 1 / 3 / 2;
        font-size: 1.5rem;
    }
    
    .service-card p { 
        grid-area: 3 / 1 / 4 / 2;
    }

}

@media (min-width: 1024px) {
    .service-card{
        margin: 25px 0 0 0;
    }
    .service-card img {
        width: 100%;
        height: 400px;
    }
    .service-card h2 { 
        grid-area: 2 / 1 / 3 / 2;
        font-size: 1.7rem;
    }
}

@media (min-width: 1439px) {
    .service-card{
        margin: 25px 0 0 0;
    }
    .service-card img {
        width: 100%;
        height: 400px;
    }
    .service-card h2 { 
        grid-area: 2 / 1 / 3 / 2;
        font-size: 2rem;
    }
}
